<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Note</title>
</head>
<body>
<div th:insert="frags/navbar"> </div>
<div style="margin-top: 70px">
<form action="" method="post">
    <input type="hidden" th:value="${note.userId}" th:name="userId">
    <input type="hidden" th:value="${note.id}" th:name="id">
    <input type="text" name="title" th:value="${note.title}" th:name="title"><br/>
    <textarea name="content" th:text="${note.content}" th:name="content"></textarea><br/>
    <input type="submit">
</form>
</div>
</body>
</html>