<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Note</title>
    <link rel="stylesheet" href="../static/style.css" th:href="|@{../style.css}|">
</head>
<body th:style="|background-image: url(@{../cork.jpg})|">
    <div th:insert="frags/navbar"> </div>
    <div class="note">

        <div class="note-navbar">
            <form action="/note/delete" method="post" style="display: inline;">
                <input type="hidden" th:value="${note.id}" name="id">
                <input type="submit" value="delete" style="display: inline;">
            </form>
            <a class="note-nav" th:href="|/notes|">Back</a>
            <a class="note-nav" th:href="|/note/${note.id}/edit|">Edit</a>
        </div>

        <p class="note-title" th:text="${note.title}">Title</p>
        <p th:text="${note.content}" class="note-content">Content</p>
        <br/>
        <div class="note-dates">
        <p class="date" th:text="${note.creationTime}"></p>
        <p class="date" th:text="${note.lastEditionTime}"></p>
        </div>
        <br/>
    </div>

</body>
</html>