<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Note</title>
</head>
<body>
    <div th:insert="frags/navbar"> </div>


    <div style="position: relative; width: 600px;height: 640px;border: rebeccapurple;border-style: solid; margin: auto; margin-top: 70px">

        <div style="text-align: right; margin-top: 10px; margin-right: 20px">
            <a th:href="|/notes|">Back</a>&nbsp;&nbsp;
            <a th:href="|/note/${note.id}/edit|">Edit</a>
        </div>

        <h1 style="text-align: center" th:text="${note.title}">Title</h1>
        <p th:text="${note.content}" style="margin: 15px;">Content</p>
        <br/>
        <div style="position:absolute; height: 70px; bottom: 20px; left: 10px; width: 300px;">
        <p th:text="${note.creationTime}"></p>
        <p th:text="${note.lastEditionTime}"></p>
        </div>
        <br/>
    </div>

</body>
</html>