<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change mail</title>
    <link rel="stylesheet" href="../static/style.css" th:href="|@{../style.css}|">
</head>
<body>
<div th:insert="frags/navbar"> </div>

<div style="text-align: center; margin-top: 70px">
<div style="width: 400px; margin: auto;">
    <p>Enter new mail for user: <span th:text="${user.login}"></span></p>
    <form action="/change-mail" method="post">
        <input type="text" name="mail">
        <input type="submit">
    </form>
    <br/>
    <div style="text-align: right">
        <a href="/notes">Back</a>
    </div>
</div>
</div>
</body>
</html>