<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
    <form action="" method="post">
        <input type="text" name="login"/><br/>
        <input type="password" name="password"/><br/>
        <input type="submit" value="Log in"><br/>

        <div th:if="${#session != null}">
            <p th:text="${#session.getAttribute('message')}">
                aaa
            </p>
        </div>
    </form>
    <a href="/register">Register</a>
</body>
</html>