<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
    <h1 th:text="${user.login}">login</h1>
    <div th:each="note : ${user.notes}" style="width: 300px;height: 300px;border: rebeccapurple;border-style: solid; display: inline-grid; margin: 10px">
        <p style="text-align: center"><a href="" th:href="|/note/${note.id}|" th:text="${note.title}" style="text-align: center">Notka</a></p>
        <p th:text="${note.content}" style="margin: 15px;">Content</p>
        <br/>
    </div>
    <br/>
    <a href="/note/new">Nowa notka</a><br/><br/>
    <a href="/logout">Wyloguj</a>
</body>
</html>