<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" href="../static/notes.css" th:href="|@{../notes.css}|">
</head>
<body th:style="|background-image: url(@{../cork.jpg})|">

    <div th:insert="navbar/navbar"> </div>

    <div class="container">
        <div th:each="note : ${user.notes}" class="note">
            <a href="" th:href="|/note/${note.id}|" th:text="${note.title}" class="title">Title</a>
            <div th:text="${note.content}" class="content">Content</div>
        </div>
    </div>
</body>
</html>