<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" href="../static/style.css" th:href="|@{../style.css}|">
</head>
<body style="background-color: #182A3A;">

    <div th:insert="frags/navbar"> </div>

    <div class="notes-container">
        <div th:each="note : ${user.notes}" class="note-prev">
            <a href="" th:href="|/note/${note.id}|" th:text="${note.title}" class="title-prev">Title</a>
            <div th:text="${note.content}" class="content-prev">Content</div>
        </div>
    </div>
</body>
</html>